.search {
  display: grid;
  grid-template-columns: 400px 1fr 140px;
  grid-gap: 25px;
  width: 100%;
  max-width: 960px;
  margin: 7rem auto;
}

.search-input {
  border-radius: 13px;
  padding: 1rem 1.4rem;
  border: none;
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.08);
  color: #a5a5a5;
  outline: none;
  font-size: 17px;
}

.search-button {
  border-radius: 13px;
  padding: 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
