.book {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.book-image {
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  border-radius: 10px;
  background-color: #f0edf5;
}

.book-image img {
  width: 100%;
  max-width: 100%;
}

.book-title {
  color: #878787;
  font-weight: bold;
  padding-top: 10px;
  font-size: 14px;
}
